@charset 'utf-8';

@font-face{font-family:'Yoon 윤고딕';src:url('../fonts/YoonGothicPro750.woff') format('woff');font-weight:normal}
@font-face{font-family:'Yoon 윤고딕';src:url('../fonts/YoonGothicPro720.woff') format('woff');font-weight:200}




body{
    font-family: 'Yoon 윤고딕','돋움',dotum,sans-serif;
    font-weight: normal;
}

a{
    color:inherit;
}

.headerTop{
    width:100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 10;
    position: absolute;
    /* position:fixed;
    top:0;
    right: 0; */
    
}


nav{
    width: 1080px;
    margin:0 auto;
    height: 80px;
    /* padding-top:30px; */
    box-sizing: border-box;
    text-align: right;
    /* font-family: 'Yoon 윤고딕','돋움',dotum,sans-serif; */
    
}

h1{
    position: absolute;
    top:30px;
    left:250px;
    
}

h1 a{
    width:116px;
    display: block;
    text-indent: -9999px;
    background-image: url(../img/img_kabang.png);
    background-repeat: no-repeat;
    
        
}

/* 마우스 오버시 header */

.headerTop.on{
    background-color:#fff;
}

.headerTop.on h1 a{
    background-image: url(../img/img_kabang.png);
    background-position:0 -30px;

}

.headerTop.on .menu li{
    color:#000;
} 
/* scroll header */

header.on .headerTop{
    width: 100%;
    position:fixed;
    top:0;
    
    background-color:#fff;
    
}

header.on .menu li{
    color:black;
}

header.on h1 a{
    background-image: url(../img/img_kabang.png);
    background-position:0 -30px;

}
.menu{
    /* position: absolute;
    top:0;
    right:50px; */

}

/* .menu:after{
    display: block;
    content:'';
    clear:both;
} */

.menu>li{
    display: inline-block;
    color:white;
    
    line-height: 80px;
    font-weight: bold;
}

.menu>li a{
    padding:0 20px;
    height: 80px;
    display: block;
    box-sizing: border-box;
}

/* 어떻게 처리하지.. */
.menu>li>a:hover{
    
    

    border-bottom:2px solid #000;
    
    /* color:black; */

}


.menu>li:hover{
    text-decoration:underline;
}

/* .sub>li:hover{
    text-decoration:underline;
} */
/* 마우스 오버시 믿줄 */

.subwrap{
    
    padding:50px 0;
    width:100%;
    background-color:white;
    position: absolute;
    top:80px;
    left:0;
    text-align: center;
    color:black;
    z-index: 1;
    
}


.sub{
    width:1080px;
    margin:0 auto;
}
.sub:after{
    float:left;
    clear:both;
    content:'';
}

.sub>li{
    float:left;
    font-weight: 700;
    font-size:16px;
    
    
}

.subwrap{
    display: none;
}


.sub1>li{
    width:20%;
}
.sub2>li{
    width:25%;
}
.sub3>li{
    width:20%;
}


.sublinks>li{
    font-weight: 300;
    height: 40px;
    font-size:14px;
}

/* 메뉴 */


footer{
    height: 140px;
    background-color:#eee;
    
}

.footIn{
    width:1080px;
    margin: 0 auto;
    position: relative;
}

.footmenu{
    padding:30px 0 5px 0;
}

.footmenu:after{
    display: block;
    clear:both;
    content:'';
}

.footmenu li{
    float:left;
    margin:0 5px;
    font-size:14px;
}

.footmenu li:nth-child(3){
    font-weight: 700;
}

.footmenu li:nth-child(4){
    font-weight: 700;
}

.footmenu li:nth-child(5){
    font-weight: 700;
}

.footmenu li:first-child{
    margin-left:0;
}
.sns{
    position: absolute;
    right: 0;
    top:100px;

}

.sns li{
    float: left;
    text-indent: -9999px;
    margin: 0 10px;
    
}

.sns li a{
    display: block;
    background-image: url(../img/img_kabang.png);
    background-repeat: no-repeat;
    
    height: 20px;
}

.sns li:nth-child(1) a{
    width: 10px;
    background-position: -120px -360px;
}

.sns li:nth-child(2) a{
    width: 12px;
    background-position: -140px -360px;
}

.sns li:nth-child(3) a{
    width: 14px;
    background-position: -389px -360px;
}

.sns li:nth-child(4) a{
    width: 23px;
    margin-top:2px;
    background-position: -160px -360px;
}

.call1{
    font-weight: 700;
}

.call2{
    color:#666;
}

.copy{
    margin-left: 10px;
    color:#666;
    font-size: 10px;
}